:root {
  --texto: rgba(255,255,255, .7);
  --blanco: #fff;
  --input: #3a3b3c;
  --input-hover: #4b4d4e;
  --activo: #2d88ff;
  --gris-claro: #b0b3b8;
  --fondo-contenido: #242526;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #18191a;
  color: var(--texto);
}

a {
  color: var(--texto);
  text-decoration: none;
}

/*====================== HEADER ========================*/
header {
  background: #242526;
  /*=== Barra de Busqueda y Logo ====*/
  /*=== Menu ====*/
  /*=== Botones ====*/
}
header .logo {
  display: inline-block;
}
header .logo svg {
  color: #fff;
  height: 35px;
  width: 35px;
}
header .barra-busqueda {
  position: relative;
  width: 100%;
}
header .barra-busqueda input {
  width: 100%;
  border: none;
  background: #3a3b3c;
  color: rgba(255, 255, 255, 0.7);
  height: 40px;
  border-radius: 100px;
  padding: 0 20px 0 40px;
}
header .barra-busqueda .icono {
  position: absolute;
  top: 6px;
  left: 15px;
  color: rgba(255, 255, 255, 0.7);
}
header .menu a {
  display: inline-block;
  padding: 10px 30px;
}
header .menu a:hover {
  color: rgba(255, 255, 255, 0.7);
  background: #3a3b3c;
  border-radius: 5px;
}
header .menu a svg {
  width: 25px;
  height: 25px;
}
header .menu .active {
  border-bottom: 4px solid #2d88ff;
  color: #2d88ff;
}
header .menu .active:hover {
  background: none;
  border-radius: 0px;
  color: #2d88ff;
}
header .botones a {
  background: #3a3b3c;
  display: inline-flex; /*Con esto lo que hago es que los iconos se mantengan uno al lado de otro*/
  border-radius: 100px;
  min-width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
}
header .botones a:hover {
  background: #4b4d4e;
  color: rgba(255, 255, 255, 0.7);
}
header .botones .perfil {
  height: 40px;
  padding: 0 7px;
  background: none;
  min-width: max-content;
}
header .botones .perfil img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-right: 5px;
}

/*====================== ASIDE ========================*/
aside {
  height: 100vh; /*con el: vh me aseguro que ocupe el 100% de la ventana*/
  overflow: auto;
  padding-top: 10px;
}

/*=== enlaces-rapidos ====*/
.enlaces-rapidos > nav a {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px 10px;
  border-radius: 3px;
}
.enlaces-rapidos > nav a:hover {
  background: #4b4d4e;
}
.enlaces-rapidos .perfil img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-right: 10px;
}
.enlaces-rapidos .icono {
  margin-right: 10px;
}
.enlaces-rapidos .icono svg {
  height: 20px;
  width: 20px;
}

/*====================== FOOTER ========================*/
footer {
  margin: 40px 0;
}
footer nav a {
  font-size: 14px;
  margin-right: 7px;
  color: #b0b3b8;
}
footer nav a:hover {
  text-decoration: underline;
  color: #b0b3b8;
}

/*=== Contactos ====*/
.contactos .seccion {
  margin-bottom: 10px;
}
.contactos .titulo {
  font-size: 18px;
  font-weight: bold;
  color: #b0b3b8;
  margin-bottom: 10px;
}
.contactos .publicidad {
  display: block;
  max-height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 5px;
}
.contactos .publicidad img {
  width: 100%;
}
.contactos nav a {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.contactos nav a:hover {
  background: #4b4d4e;
}
.contactos nav img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-right: 10px;
}

/*====================== MAIN ========================*/
main {
  padding-top: 10px;
  /*======== Publicacion ========*/
}
main .publicar, main .publicacion {
  background: #242526;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}
main .publicar .formulario, main .publicacion .formulario {
  display: flex;
  justify-self: start;
}
main .publicar input, main .publicacion input {
  width: 100%;
  border: none;
  background: #3a3b3c;
  height: 40px;
  border-radius: 100px;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}
main .publicar .botones a, main .publicacion .botones a {
  display: inline-flex; /* sirve para que un elemento este al lado del otro y poder trabajar con flexbox */
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  font-size: 13px;
}
main .publicar .botones a:hover, main .publicacion .botones a:hover {
  background: #4b4d4e;
  color: rgba(255, 255, 255, 0.7);
}
main .publicar .botones a svg, main .publicacion .botones a svg {
  margin-right: 5px;
}
main .publicacion .header {
  display: flex;
  width: 100%;
  align-items: center;
}
main .publicacion .header .datos {
  display: flex;
  flex-direction: column;
}
main .publicacion .header .datos a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
}
main .publicacion .header .datos .nombre {
  color: #fff;
}
main .publicacion .header .datos .hora {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
main .publicacion .header .datos .hora:hover {
  color: rgba(255, 255, 255, 0.7);
}
main .publicacion .body p {
  margin-bottom: 10px;
  color: #fff;
}
main .publicacion .body img {
  width: 100%;
}
main .publicacion .comentarios {
  padding: 10px;
}
main .publicacion .comentarios .me-gusta svg {
  margin-right: 10px;
  color: #e75151;
}
main .publicacion .comentarios a, main .publicacion .comentarios .me-gusta {
  color: rgba(255, 255, 255, 0.7);
}
main .publicacion .comentarios a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
}
main .publicacion .botones button {
  width: 100%;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 3px;
}
main .publicacion .botones button:hover {
  background: #3a3b3c;
}
main .publicacion .botones button svg {
  margin-right: 5px;
}
main .foto {
  display: block; /*lo coloco para poder modificar el alto y el ancho*/
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100px;
  margin-right: 10px;
}
main .foto img {
  width: 100%;
}

/*====================== MEDIAQUERYS ========================*/
/* Dispositivo MD*/
@media screen and (max-width: 768px) {
  .enlaces-rapidos, .contactos {
    display: none;
  }
}
/* Dispositivo LG*/
@media screen and (max-width: 992px) {
  header {
    padding-top: 10px;
  }
  .menu {
    margin-top: 10px;
  }
  .contenido-principal {
    padding-top: 10px;
  }
}
/* Dispositivo XL*/
@media screen and (max-width: 1200px) {
  header .menu a {
    padding: 10px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
