$gris-claro: #b0b3b8;
$blanco: #fff;
$input-hover: #4b4d4e;
/*=== Contactos ====*/
.contactos{
    .seccion{
        margin-bottom: 10px;
    }
    .titulo{
        font-size: 18px;
        font-weight: bold;
        color: $gris-claro;
        margin-bottom: 10px;
    }
    .publicidad{
        display: block;
        max-height: 100px;
        overflow: hidden;
        margin-bottom: 10px;
        border-radius: 5px;
        img{
            width: 100%;
        }
    }
    nav{
        a{
            display: flex;
            align-items: center;
            color: $blanco;
            padding: 10px;
            border-radius: 5px;
            &:hover{
                background: $input-hover;
            }
        }
        img{
            width: 30px;
            height: 30px;
            border-radius: 100px;
            margin-right: 10px;
        }
    }
}