$fondo-contenido: #242526;
$texto: rgba(255,255,255, .7);
$input: #3a3b3c;
$input-hover: #4b4d4e;
$blanco: #fff;
/*====================== MAIN ========================*/
main{
    padding-top: 10px;
    .publicar,.publicacion{
        background: $fondo-contenido;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 10px;
        .formulario{
            display: flex;
            justify-self: start;
        }
        input{
            width: 100%;
            border: none;
            background: $input;
            height: 40px;
            border-radius: 100px;
            padding: 0 20px;
            color: $texto;
        }
        .botones{
            a{
                display: inline-flex; /* sirve para que un elemento este al lado del otro y poder trabajar con flexbox */
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 10px;
                border-radius: 3px;
                font-size: 13px;
                &:hover{
                    background: $input-hover;
                    color: $texto;
                }
                svg{
                    margin-right: 5px;
                }
            }
        }
    }
    /*======== Publicacion ========*/
    .publicacion{
        .header{
            display: flex;
            width: 100%;
            align-items: center;
            .datos{
                a{
                    &:hover{
                        color: $texto;
                        text-decoration: underline;
                    }
                }
                display: flex;
                flex-direction: column;
                .nombre{
                    color: $blanco;
                }
                .hora{
                    color: $texto;
                    font-size: 14px;
                    &:hover{
                        color: $texto;
                    }
                }
            }
        }
        .body{
            p{
                margin-bottom: 10px;
                color: $blanco;
            }
            img{
                width: 100%;
            }
        }
        .comentarios{
            padding: 10px;
            .me-gusta{
                svg{
                    margin-right: 10px;
                    color: #e75151;
                }
            }
            a,.me-gusta{
                color: $texto;
            }
            a{
                &:hover{
                    text-decoration: underline;
                    color: $texto;
                }
            }
        }
        .botones{
            button{
                width: 100%;
                border: none;
                background: none;
                color: $texto;
                padding: 10px;
                border-radius: 3px;
                &:hover{
                    background: #3a3b3c;
                }
                svg{
                    margin-right: 5px;
                }
            }
        }
        
    }
    .foto{
        display: block; /*lo coloco para poder modificar el alto y el ancho*/
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 100px;
        margin-right: 10px;
        img{
            width: 100%;
        }
    }
}