/*====================== MEDIAQUERYS ========================*/

/* Dispositivo MD*/
@media screen and (max-width: 768px){
    .enlaces-rapidos{
        display: none;
    }
}

/* Dispositivo LG*/
@media screen and (max-width: 992px){
    header{
        padding-top: 10px;
    }
    .menu{
        margin-top: 10px;
    }
    aside{
        padding-top: 10px;
    }
}

/* Dispositivo XL*/
@media screen and (max-width: 1200px){
    header{
        .menu{
            a{
                padding: 10px 20px;
            }
        }
    }
}